In [2]:
import numpy as np
x = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13])
y = np.array([1, 3, 2, 5, 7, 8, 8, 9, 10, 12, 16, 18])
# Calculate the means of x and y
x_mean = np.mean(x)
y_mean = np.mean(y)
# Calculate b1 (slope) and b0 (intercept)
b1 = np.sum((x - x_mean) * (y - y_mean)) / np.sum((x - x_mean) ** 2)
b0 = y_mean - b1 * x_mean
print("Intercept (b0):", b0)
print("Slope (b1):", b1)

Intercept (b0): 0.838709677419355
Slope (b1): 1.2889200561009817

In [6]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
# Given data
x = np.array([1, 2, 3, 4, 5, 6, 7, 8]).reshape(-1, 1)
y = np.array([7, 14, 15, 18, 19, 21, 26, 23])
# Create and fit the model
model = LinearRegression().fit(x, y)
# Get the intercept and slope
b0= model.intercept_
b1 = model.coef_[0]
# Make predictions
y_pred = model.predict(x)
# Calculate performance metrics
mse = mean_squared_error(y, y_pred)
r2 = r2_score(y, y_pred)
print("Intercept (b0):", b0)
print("Slope (b1):", b1)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Intercept (b0): 7.642857142857142
Slope (b1): 2.2738095238095237
Mean Squared Error (MSE): 3.4657738095238084
R-squared (R2): 0.8867741072947811

In [17]:
import pandas
from sklearn import linear_model
df = pandas.read_csv("Car_Data_Updated.csv")
X = df[['Weight', 'Volume']]
y = df['CO2']
regr = linear_model.LinearRegression()
regr.fit(X, y)
#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3

predictedCO2 = regr.predict([[2300, 1300]])
print(predictedCO2)

[70.57576543]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
df

           Car       Model  Volume  Weight  CO2
0       Toyota        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990   99